/** @format */

:root {
  --square-size: 100px;
  --mark-size: calc(var(--square-size) * 0.9);
}

.board {
  background-color: #f9faf8;
  width: 70vw;
  height: 70vh;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, auto);
}

.square {
  width: var(--square-size);
  height: var(--square-size);
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square.click {
  cursor: pointer;
}

.square:first-child,
.square:nth-child(2),
.square:nth-child(3) {
  border-top: none;
}

.square:nth-child(3n + 1) {
  border-left: none;
}

.square:nth-child(3n + 3) {
  border-right: none;
}

.square:last-child,
.square:nth-child(8),
.square:nth-child(7) {
  border-bottom: none;
}

.square.x,
.square.o {
  cursor: not-allowed;
}

.square.x::before,
.square.x::after,
.square.o::before,
.square.o::after {
  background-color: black;
}

.board.x .square.click:not(.x):not(.o):hover::before,
.board.x .square.click:not(.x):not(.o):hover::after,
.board.o .square.click:not(.x):not(.o):hover::before,
.board.o .square.click:not(.x):not(.o):hover::after,
.board.ai .square.click:not(.x):not(.o)::before,
.board.ai .square.click:not(.x):not(.o)::after {
  background-color: lightgray;
}

.square.x::before,
.square.x::after,
.board.x .square.click:not(.x):not(.o):hover::before,
.board.x .square.click:not(.x):not(.o):hover::after {
  width: calc(var(--mark-size) * 0.15);
  height: var(--mark-size);
  position: absolute;
  content: "";
}

.square.x::before,
.board.x .square.click:not(.x):not(.o):hover::before {
  transform: rotate(45deg);
}

.square.x::after,
.board.x .square.click:not(.x):not(.o):hover::after {
  transform: rotate(-45deg);
}

.square.o::before,
.square.o::after,
.board.o .square.click:not(.x):not(.o):hover::before,
.board.o .square.click:not(.x):not(.o):hover::after,
.board.ai .square.click:not(.x):not(.o)::before,
.board.ai .square.click:not(.x):not(.o)::after {
  position: absolute;
  border-radius: 50%;
  content: "";
}

.square.o::before,
.board.o .square.click:not(.x):not(.o):hover::before,
.board.ai .square.click:not(.x):not(.o)::before {
  width: var(--mark-size);
  height: var(--mark-size);
}

.square.o::after,
.board.o .square.click:not(.x):not(.o):hover::after,
.board.ai .square.click:not(.x):not(.o)::after {
  width: calc(var(--mark-size) * 0.7);
  height: calc(var(--mark-size) * 0.7);
  background-color: white;
}

#winningMessage {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 5rem;
  flex-direction: column;
  display: none;
}

#winningMessage button {
  font-size: 3rem;
  background-color: white;
  border: 1px solid black;
  padding: 0.25em 0.5em;
  cursor: pointer;
}

#winingMessage button:hover {
  background-color: black;
  color: white;
  border-color: white;
}

#winningMessage.show {
  display: flex;
}
