/** @format */
@use "app/style/globals";
@use "app/style/gameboard";
*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
a:visited,
a:hover {
  text-decoration: none;
  color: #f9faf8;
}

body {
  margin: 0;
}
